*{
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    position: relative;
 }

header{
    position:sticky;
    z-index: 999;
    background-color: white;
    width: 100vw;
    height: 10vh;s
}

/*HERO*/
.bsb-hero-2{
    background: url(./Multimedia/banner_background.svg) no-repeat center / cover;
}

.bsb-hero-2 h1, p{
    color: white;
}

.btn-booknow {
    background-color: orange;
    color: white;
    border: none;
    height: 3em;
    width: 10em;
    border-radius: .5em;
    font-weight: 600;
}

.btn-booknow:hover{
    background-color: white;
    color: rgb(44, 156, 255);
}

/*HERO
.hero {
    height: 90vh;
    width: 100vw;
    background: linear-gradient(rgb(44, 156, 255), rgb(13, 110, 195));
    display: flex;
    justify-content: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.hero h1{
    font-size: 5em;
    font-weight: 800;
    color: orange;
}

.hero p{
    font-size: 1.7em;
}

@media (max-width: 768px) {
    .hero {
        height: 50vh;
    }
}
*/

#contenido1{
    display: none;
    flex-flow: wrap;
}

#contenido2{
    display: none;
    flex-flow: wrap;
}

#contenido3{
    display: none;
    flex-flow: wrap;
}

.aboutus h1{
    font-weight: 800;
    color: rgb(44, 156, 255);
}

.aboutus p{
    font-size: large;
    color: black;
    text-align: justify;
}

.aboutus img{
    border-radius: 225px 0 225px 0;
    height: 350px;
    width: 450px;
}

@media (max-width:768px) {
    .aboutus img{
        height: 20em;
        width: 25em;
        border-radius: 200px 0 200px 0;
    }

    .aboutus p{
        text-align: justify;
        font-size: 1em;
    }
}

@media (max-width:576px) {
    .aboutus img{
        height: 18em;
        width: 22em;
        border-radius: 175px 0 175px 0;
    }

    .aboutus p{
        text-align: justify;
        font-size: 1em;
    }
}

.servicearea h1{
    font-weight: 800;
    color: rgb(44, 156, 255);
}

.poweredby a{
    font-size: .8em;
    color: grey;
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: grey;
}

.card h1{
    font-size: 1.2em;
}

.blog h1{
    font-size: 3em;
    font-weight: 600;
}

.blog p{
    font-size: 1.2em;
    text-align: justify;
}

@media (max-width: 1200px) {
    .blog img{
        width: 350px;
        height: 350px;
        align-items: center;
    }

    .blog h1{
        font-size: 1.8em;
        font-weight: 600;
    }

    .blog h2{
        font-size: 1.5em;
    }

    .blog p{
        font-size: 1em;
    }
}

