*{
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    position: relative;
 }

header{
    position:sticky;
    z-index: 999;
    background-color: white;
    width: 100vw;
}

/*NAV*/
nav .btn-primary{
    height: 3em;
}

nav .btn{
    font-size: .8em;
    font-weight: 600;
}

nav li{
    font-size: 1em;
    font-weight: 500;

}

nav .btn-txt{
    text-decoration: none;
    font-size: 1.2em;
    font-weight:800;
    color: orange;
}

@media (max-width:768px) {
    nav img{
        width: 5em;
        height: 3.5em;
    }
}

@media (max-width:992px) {
    nav img{
        width: 5em;
        height: 3em;
    }
}
/*NAV ENDS*/

/*HERO*/
.hero-container{
    height: 90vh;
    text-align: center;
}

.hero {
    background-image: url(./Multimedia/background_4.png);
    height: 100%;
    background-size: cover;
}

.hero h1, p{
    color: white;
}

.hero h1{
    font-size: 5.2em;
    font-weight: 800;
    text-shadow: rgba(21, 10, 95, 0.242) 5px 5px 5px;
}

.hero p{
    font-size: 1.8em;
    font-weight: 600;
    text-shadow: rgba(21, 10, 95, 0.242) 5px 5px 5px;
}

.hero .btn{
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 3em;
}

.hero img{
    height: 30em;
    width: 30em;
}

@media (max-width:992px) {
    .hero img{
        width: 22em;
        height: 20em;
    }

    .hero h1{
        font-size: 3.5em;
        text-align: center;
        font-weight: 800;
        text-shadow: rgba(21, 10, 95, 0.242) 5px 5px 5px;
    }

    .hero p{
        font-size: 1.3em;
        font-weight: 600;
        text-align: center;
        text-shadow: rgba(21, 10, 95, 0.242) 5px 5px 5px;
    }

    .hero button{
        height: 2.5em;
        width: 10em;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width:768px) {
    .hero .img-element{
        width: 15em;
        height: 15em;
        margin-top: .5em;
    }

    .hero h1{
        font-size: 3.5em;
        padding: .5em;
        font-weight: 800;
        text-shadow: rgba(21, 10, 95, 0.242) 5px 5px 5px;
        text-align: center;
        margin-top: -1em;
    }

    .hero p{
        font-size: 1.5em;
        font-weight: 500;
        text-align: center;
        margin-top: -.5em;
    }

    .hero button{
        height: 3em;
        width: 12em;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1em;
    }
    
}

@media (max-width:576px) {
    .hero {
        height: auto;
    }

    .hero img{
        width: 10em;
        height: 10em;
    }

    .hero h1{
        font-size: 3em;
        font-weight: 900;
        text-align: center;
    }

    .hero p{
        font-size: 1.2em;
        font-weight: 600;
        text-align: center;
    }

    .hero button{
        height: 3em;
        width: 12em;
        font-weight: 600;
    }

}
/*HERO ENDS*/

/*PROMOS BANNER
.promo-izq{
    background-color: rgb(44, 156, 255);
    height: 15vh;
}

.promo-der{
    background-color: orange;
    height: 15vh;
}
PROMOS BANNER ENDS*/


/*CARDS SERVICES*/
#contenido1{
    display: none;
    flex-flow: wrap;
}

#contenido2{
    display: none;
    flex-flow: wrap;
}

#contenido3{
    display: none;
    flex-flow: wrap;
}

/*CARDS SERVICES ENDS*/

/*ABOUT US*/
.aboutus h1{
    font-weight: 800;
    color: rgb(44, 156, 255);
}

.aboutus p{
    font-size: large;
    color: black;
    text-align: justify;
}

.aboutus img{
    border-radius: 225px 0 225px 0;
    height: 350px;
    width: 450px;
}

@media (max-width:768px){
    .aboutus img{
        height: 20em;
        width: 25em;
        border-radius: 200px 0 200px 0;
    }

    .aboutus p{
        text-align: justify;
        font-size: 1em;
    }
}

@media (max-width:576px) {
    .aboutus img{
        height: 18em;
        width: 22em;
        border-radius: 175px 0 175px 0;
    }

    .aboutus p{
        text-align: justify;
        font-size: 1em;
    }
}

/*ABOUT US ENDS*/

.servicearea h1{
    font-weight: 800;
    color: rgb(44, 156, 255);
}

.poweredby a{
    font-size: .8em;
    color: grey;
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: grey;
}

.card h1{
    font-size: 1.2em;
}

.blog h1{
    font-size: 3em;
    font-weight: 600;
}

.blog p{
    font-size: 1.2em;
    text-align: justify;
}

@media (max-width: 1200px) {
    .blog img{
        width: 350px;
        height: 350px;
        align-items: center;
    }

    .blog h1{
        font-size: 1.8em;
        font-weight: 600;
    }

    .blog h2{
        font-size: 1.5em;
    }

    .blog p{
        font-size: 1em;
    }
}